In [12]:
import pandas as pd
movies = pd.read_csv("C:/python_ML/movies.csv")
rating = pd.read_csv("C:/python_ML/ratings.csv")

movies
rating
#1
print(rating['rating'].mean())


#2
rating.groupby(rating['userId'])['rating'].mean()

#3 
display(movies)
ratings=rating.groupby(rating['movieId'])['rating'].mean()

df = pd.merge(movies, ratings, left_on="movieId", right_index=True, how= "inner")

3.501556983616962

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
#4
df_2 = df.loc[:,['movieId','title','rating']]
df.loc[df["rating"]==df["rating"].max(),["title","rating"]]

                                                  title  rating
48                                      Lamerica (1994)     5.0
87                 Heidi Fleiss: Hollywood Madam (1995)     5.0
121                    Awfully Big Adventure, An (1995)     5.0
405                              Live Nude Girls (1995)     5.0
432   In the Realm of the Senses (Ai no corrida) (1976)     5.0
...                                                 ...     ...
9611                                       Black Mirror     5.0
9633                              Loving Vincent (2017)     5.0
9634                              Blue Planet II (2017)     5.0
9688                            De platte jungle (1978)     5.0
9711                   Won't You Be My Neighbor? (2018)     5.0

[296 rows x 2 columns]

In [7]:
#5
df_2=df.loc[df['genres'].str.contains("Comedy")].loc[df["rating"]==df["rating"].min()]
df_2.sort_values(by = 'title')

,movieId,title,genres,rating
8893,134528,Aloha (2015),Comedy|Drama|Romance,0.5
5777,31422,Are We There Yet? (2005),Children|Comedy,0.5
7762,91414,Arthur Christmas (2011),Animation|Children|Comedy|Drama,0.5
9419,165645,Bad Santa 2 (2016),Comedy,0.5
4439,6557,Born to Be Wild (1995),Adventure|Children|Comedy|Drama,0.5
5409,25782,Boudu Saved From Drowning (Boudu sauvé des eau...,Comedy,0.5
6554,54934,"Brothers Solomon, The (2007)",Comedy,0.5
5453,26095,"Carabineers, The (Carabiniers, Les) (1963)",Comedy|Drama|War,0.5
6545,54768,Daddy Day Camp (2007),Children|Comedy,0.5
4881,7312,"Follow Me, Boys! (1966)",Comedy|Drama,0.5
7553,85334,Hard Ticket to Hawaii (1987),Action|Comedy,0.5
8417,110773,"Haunted House 2, A (2014)",Comedy|Horror,0.5
5662,27595,Jesus Christ Vampire Hunter (2001),Action|Comedy|Horror|Musical,0.5
8984,138798,Joe Dirt 2: Beautiful Loser (2015),Comedy,0.5
7820,92681,Journey 2: The Mysterious Island (2012),Action|Adventure|Comedy|Sci-Fi|IMAX,0.5
6160,44243,Leprechaun 4: In Space (1997),Comedy|Fantasy|Horror|Sci-Fi,0.5
8248,104644,Maria Bamford: The Special Special Special! (2...,Comedy,0.5
7201,72696,Old Dogs (2009),Comedy,0.5
9056,141994,Saving Christmas (2014),Children|Comedy,0.5
5258,8632,Secret Society (2002),Comedy,0.5
9590,175475,The Emoji Movie (2017),Animation|Children|Comedy,0.5
8908,135216,The Star Wars Holiday Special (1978),Adventure|Children|Comedy|Sci-Fi,0.5
8676,122246,Tooth Fairy 2 (2012),Children|Comedy,0.5
5795,31692,Uncle Nino (2003),Comedy,0.5
6784,60363,Zombie Strippers! (2008),Comedy|Horror,0.5

In [8]:
# 6 번
import time
#영화아이디 기준으로 판다스 합병
new_df = pd.merge (movies, rating, left_on = "movieId", right_on = "movieId", how = "inner")
#2015년 1월 1일이 컴퓨터 시점으로 언제인지 찾기
start = time.mktime(time.strptime("2015-01-01 00:00:00","%Y-%m-%d %H:%M:%S"))
#2015년 언제 끝나는지 컴퓨터 시점으로 찾기
end = time.mktime(time.strptime("2016-01-01 00:00:00","%Y-%m-%d %H:%M:%S"))
#로맨스 장르인 것들만 데이터 프레임에서 찾기
new_df_2=new_df.loc[new_df["genres"].str.contains("Romance")]
#2015년에 해당하는 것만 찾기
new_df_3=new_df_2.loc[(new_df_2["timestamp"] > start)&(new_df_2["timestamp"] < end)]
#점수 평균 내기
new_df_3["rating"].mean()

3.396375098502758